.home{
    width: 100%;
    display: flex;
}

.tile {
    display: flex;
    text-align: left;
    background-color: #202125;
    color: rgb(147, 150, 157);
    font-size: 15px;
    padding: 16px;
    justify-content: space-between;
    border: rgb(60, 64, 67) solid 2px;
    cursor: pointer;
    height: 100px;
  }

  .tile:hover {
    background-color: #050606;
  }

  .matches {
    column-count: 2;
    column-gap: 0;
    width: 60vw;
    margin: auto;
    margin-top: 25vh;
    margin-bottom: 5vh;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    line-height: 166%;
  }
  
  .date {
    text-align: right;
  }

  @media screen and (max-width: 420px) {    
    .matches {
      width: 80vw;      
      margin-top: 18vh;
      margin-bottom: 5vh;
      column-count: 0;
      display: flex;
      flex-direction: column;
    }

    .tile {
      border-radius: 10px;
      margin: 10px 0 0 0;
    }
    
 }

  