.table{
    width: 100%;
    display: flex;
}

.tally {
    background: rgba(14, 13, 13, 0.886);
    width: 50em;
    color: white;
    margin: auto;
    padding: 2.5em;
    margin-top: 25vh;
    margin-bottom: 5vh;
  }
  
  .table-header {
    display: flex;
    border-bottom: rgb(60, 64, 67) solid 2px;
    justify-content: space-between;
  }

  .table-points{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
  }

 h4{
    color: rgb(147, 150, 157);
    font-size: 15px;
  }

  .team-items{
    padding-left: 20px;
  }

  .match-details{
    display: flex;
    justify-content: space-between;
    border-bottom: rgb(60, 64, 67) solid 2px;
  }

  .team-details{
    display: flex;   
  }

  .team-stats{
    display: flex;
  }

  .team-lost{
    padding-right: 44px;
  }

  .team-win{
    padding-right: 48px;
  }

  .team-match{
    padding-right: 48px;
  }

  .team-point{
    padding-right: 40px;
  }
  .circles img{
    padding: 2px;
  }


